<!DOCTYPE html>

<html lang="pt-br">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Client Registration</title>
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet"/>
    <link rel="stylesheet" href="../static/css/index.css">

</head>

<body>

    <main>

        <header>

            <section class="logo">

                <img src="../static/imagens/logo.png" alt="Logo">

                <h1>Client Sans</h1>

            </section>

            <nav class="links">

                <ul>
                    <li><a href="#home">Home</a></li>
                    <li><a href="#about">About</a></li>
                </ul>

            </nav>

            <nav class="btn_log">

                <a href="#">
                    <button class="btn_cadastro">Cadastrar</button>
                </a>

                <a href="#">
                    <button class="btn_login">Login</button>
                </a>

            </nav>

        </header>

        <section class="home" id="home">

            <article>

                <h1>Client Sans</h1>

                <p>Gerencie clientes de forma simples e organizada. Cadastre novos usuários, edite informações, visualize a lista de clientes e mantenha o controle total dos dados com segurança e praticidade.</p>

                <nav>

                    <a href="#">
                        <button>Entrar</button>
                    </a>

                </nav>

            </article>

        </section>

    </main>
    
</body>

</html>