<!DOCTYPE html>

<html lang="pt-br">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Clientes</title>
    <link rel="stylesheet" href="../static/css/view_clientes.css">

</head>

<body>
    
    {% for user in users %}

        <div class="container">

            <ul>
                <li>{{ user.name }}</li>
                <li>{{ user.name_vehicle }}</li>
            </ul>

        </div>

    {% endfor %}

</body>

</html>